@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans_Condensed/OpenSansCondensed-Light") format("ttf"),
    url("../fonts/Open_Sans_Condensed/OpenSansCondensed-Light") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
}

@media (min-width: 768px) {
}
